.project
.metadata
GingerMotif/bin/**
GingerMotif/tmp/**
/GingerMotiftmp/**/*
*.tmp
*.bak
*.swp
*~.nib
*.fa
*.txt
local.properties
.classpath
.settings/
.loadpath
*.class
# External tool builders
.externalToolBuilders/
# Locally stored "Eclipse launch configurations"
*.launch
# CDT-specific
.cproject
# PDT-specific
.buildpath
